@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br>
    <h1 class="display-4">Media Categorizer</h1>
    <p>
        <h2 class="fw-light">For better categorization of your reads and listens</h2>
        <br>
        <img src="https://preview.free3d.com/img/2019/05/2273099121353032746/nd7rrf5r-900.jpg" alt="">
 </p>
</div>    