
@{
    ViewData["Title"] = "_Navbar";
}
<style>
    a{
        color: rgb(161, 243, 209);

    }
   a:hover{
        color: white;

    }

    #title{
        color: rgb(161, 243, 209);

    }

</style>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a id="title" class="navbar-brand" href="#">Media categorizer</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a asp-area="" asp-controller="Home" asp-action="Index" class="text-decoration-none">Home</a>
                  </li>
                  <li class="nav-item">
                      <a asp-area="" asp-controller="Books" asp-action="Index" class="text-decoration-none">&nbsp;&nbsp;Books</a>
                    </li>
                      <li class="nav-item">
                      <a asp-area="" asp-controller="Albums" asp-action="Index" class="text-decoration-none">&nbsp;&nbsp;Albums</a>
                    </li>
                </ul>
                <span class="navbar-text">
                  Keep track of your culture
                </span>
              </div>
            </div>          
    </nav>
